<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/compile.min.css">

    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/underscore/underscore-min.js"></script>
    <script src="/components/d3/d3.min.js"></script>
    <script src="/components/radial-progress-chart/dist/radial-progress-chart.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(function () {
            var cpu = new RadialProgressChart('.widget.cpu .gauge', {
                stroke: {
                    width: 20,
                    gap: 2
                },
                shadow: {
                    width: 0
                },
                max: 100,
                round: false,
                series: [{
                    value: 0,
                    color: ['#AFC800', '#FE1600']
                }],
                center: function (d) {
                    return d.toFixed(0) + '%'
                }
            });

            var memory = new RadialProgressChart('.widget.memory .gauge', {
                stroke: {
                    width: 20,
                    gap: 2
                },
                shadow: {
                    width: 0
                },
                max: 100,
                round: false,
                series: [{
                    value: 0,
                    color: ['#AFC800', '#FE1600']
                }],
                center: function (d) {
                    return d.toFixed(0) + '%'
                }
            });

            var swap = new RadialProgressChart('.widget.swap .gauge', {
                stroke: {
                    width: 20,
                    gap: 2
                },
                shadow: {
                    width: 0
                },
                max: 100,
                round: false,
                series: [{
                    value: 0,
                    color: ['#AFC800', '#FE1600']
                }],
                center: function (d) {
                    return d.toFixed(0) + '%'
                }
            });

            function refreshInfo() {
                $.ajax({
                    url: '{{ path('smalot_vagrant_rest_system_info') }}',
                    success: function (result) {
                        var usage = 0;
                        var core;

                        _.each(result.cpu.cores, function (core) {
                            usage += core.usage;
                        });

                        cpu.update(usage / result.cpu.cores.length);
                        memory.update(result.memory.used / result.memory.total * 100);

                        var memory_used = result.memory.used / 1024 / 1024 / 1024;
                        var memory_total = result.memory.total / 1024 / 1024 / 1024;
                        $('.widget.memory .title abbr').attr('title', memory_used.toFixed(1) + ' / ' + memory_total.toFixed(2) + ' Gb');

                        usage = (result.swap.total ? result.swap.used / result.swap.total * 100 : 0);
                        swap.update(usage);

                        var swap_used = result.swap.used / 1024 / 1024 / 1024;
                        var swap_total = result.swap.total / 1024 / 1024 / 1024;
                        $('.widget.swap .title abbr').attr('title', swap_used.toFixed(1) + ' / ' + swap_total.toFixed(2) + ' Gb');
                    }
                });

                setTimeout(refreshInfo, 4500);
            }

            refreshInfo();
        });
    </script>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>Dashboard</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9 col-md-8">
            azezzzeaz
        </div>

        <div class="col-xs-3 col-md-4">
            <div class="row board">
                <div class="col-sm-12 col-md-4 widget cpu">
                    <div class="title">CPU</div>
                    <div class="gauge"></div>
                    <div class="legend"></div>
                </div>
                <div class="col-sm-12 col-md-4 widget memory">
                    <div class="title"><abbr>Memory</abbr></div>
                    <div class="gauge"></div>
                    <div class="legend"></div>
                </div>
                <div class="col-sm-12 col-md-4 widget swap">
                    <div class="title"><abbr>Swap</abbr></div>
                    <div class="gauge"></div>
                    <div class="legend"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
